body {
  font-family: 'Poppins', sans-serif;
  background-color: #12141D;
}
.container {
  max-width: 1110px;
  margin: auto;
}
.logo {
  display: inline-block;
}
.logo-link {
  font-weight: 800;
  font-size: 30px;
  line-height: 45px;
  color: #FFFFFF;
  text-decoration: none;
}
.navbar {
  display: inline-block;
}
.navbar-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.navbar-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  margin-right: 40px;
}
.contact-btn {
  display: inline-block;
}
button {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  padding: 13px 28px;
  background-color: #4080BF;
  border-radius: 10px;
  border: none;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  margin-top: 50px;
}
.hero-bg {
  position: relative;
  border-radius: 20px;
  opacity: 0.5;
}
.hero-content {
  position: absolute;
  margin-top: 207px;
  margin-left: 363px;
}
.hero-title {
  font-weight: 800;
  font-size: 61px;
  line-height: 92px;
}
.hero-subtitle {
  font-weight: normal;
  font-size: 20px;
  line-height: 38px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.about {
  margin-top: 100px;
  color: #fff;
}
.about-header {
  display: block;
  font-weight: 800;
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 40px;
}
.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}
.about-item {
  min-width: 540px;
  margin-top: 30px;
}
.about-item-icon {
  vertical-align: top;
}
.about-item-title {
  display: block;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
}
.about-item-subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
}
.about-item-text {
  display: inline-block;
  margin-left: 30px;
}
.service {
  color: #fff;
}
.service-header {
  font-weight: 800;
  font-size: 50px;
  line-height: 83px;
  text-align: center;
}
.service-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.service-item {
  width: 350px;
  height: 350px;
  background-color: #1E2028;
  margin-bottom: 30px;
  border-radius: 10px;
}
.service-item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 25px;
}
.service-item-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  -webkit-font-feature-settings: 'salt' on, 'liga' off;
          font-feature-settings: 'salt' on, 'liga' off;
  margin-left: 25px;
}
.service-item-image {
  margin-top: 20px;
  margin-left: 25px;
}
.service-item-link {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-feature-settings: 'salt' on, 'liga' off;
          font-feature-settings: 'salt' on, 'liga' off;
  text-decoration: none;
  color: #A1C5E9;
  margin-top: 50px;
  margin-left: 25px;
}
.project {
  color: #fff;
}
.project-title {
  font-weight: 800;
  font-size: 50px;
}
.project-link {
  display: inline-block;
  margin-left: 580px;
}
.project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}
.project-item {
  margin-bottom: 30px;
}
.founder {
  color: #fff;
  margin-top: 50px;
}
.founder-block-title {
  padding-top: 50px;
  font-weight: 800;
  font-size: 50px;
  line-height: 75px;
  text-align: center;
}
.founder-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}
.founder-item {
  min-width: 540px;
  max-width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.founder-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.founder-subtitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  margin-top: 10px;
}
.founder-text {
  margin-right: 25px;
  margin-left: 25px;
  padding-bottom: 20px;
}
.feedback {
  color: #fff;
  margin-top: 150px;
}
.feedback-main-text {
  display: inline-block;
  vertical-align: middle;
  max-width: 490px;
  margin-right: 40px;
}
.feedback-title {
  font-weight: 800;
  font-size: 50px;
  line-height: 83px;
}
.feedback-subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  -webkit-font-feature-settings: 'salt' on, 'liga' off;
          font-feature-settings: 'salt' on, 'liga' off;
}
.feedback-slider {
  display: inline-block;
  vertical-align: middle;
  max-width: 570px;
  background-color: #1E2028;
  border-radius: 10px;
}
.feedback-watermark {
  text-align: right;
  margin-top: 35px;
  margin-right: 45px;
}
.feedback-info {
  display: inline-block;
  vertical-align: middle;
}
.feedback-avatar {
  vertical-align: middle;
  padding-left: 25px;
  margin-right: 20px;
}
.feedback-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.feedback-job {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}
.feedback-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 31px;
  -webkit-font-feature-settings: 'salt' on, 'liga' off;
          font-feature-settings: 'salt' on, 'liga' off;
  margin-top: 17px;
  margin-bottom: 50px;
  padding-left: 25px;
}
.feedback-dots {
  display: block;
  text-align: center;
  padding-bottom: 55px;
}
.advice {
  color: #fff;
  margin-top: 150px;
  background-color: #1E2028;
}
.advice-content {
  padding-top: 50px;
  text-align: center;
}
.advice-title {
  margin-top: 50px;
  font-weight: 800;
  font-size: 50px;
  line-height: 80px;
  text-align: center;
  margin-bottom: 35px;
}
.advice-svg {
  margin-top: 50px;
  padding-bottom: 50px;
}
.list-header {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 20px;
}
.footer {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-logo li {
  margin-bottom: 20px;
}
.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 16px;
}
.footer-input {
  padding: 10px 12px;
  background: #191b24 url(../img/send.png) no-repeat 165px center;
  border: none;
  border-radius: 10px;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  -webkit-font-feature-settings: 'salt' on, 'liga' off;
          font-feature-settings: 'salt' on, 'liga' off;
}
.social-media-link {
  text-decoration: none;
}
.company-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.company-links-list li {
  margin-bottom: 10px;
}
.company-links-list-link {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.support-link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.support-link-list li {
  margin-bottom: 10px;
}
.support-link-list-link {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
